@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #050505;
    color: #00f2ff; /* Ye hai wo High School Neon Blue */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.profile-card {
    background: #000;
    border: 3px solid #00f2ff;
    box-shadow: 0 0 20px #00f2ff, inset 0 0 10px #00f2ff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.highlight {
    color: #fff;
    text-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff;
}

.whatsapp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: transparent;
    color: #00f2ff;
    border: 2px solid #00f2ff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 10px #00f2ff;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background-color: #00f2ff;
    color: #000;
}
